* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

body {
    background-color: #fafafa;
    margin: 0;
    height: 100vh;
    display: grid;
    place-items: center;
}

#main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    place-items: center;
    margin: 30px auto 0 auto;
    max-width: 935px;
}

.banner-container,
#form-container {
    flex: 1;
    display: flex;
    justify-content: center;
}

.banner-container {
    flex: 0 0 450px;
    text-align: right;
}

.banner-container img {
    width: 100%;
    margin-right: 15px;
    margin-top: 25px;
    max-width: 380px;
    height: auto;
}

#form-container {
    flex-direction: column;
    align-items: flex-start;
}

#form-box {
    background-color: #fff;
    border: 1px solid #dbdbdb;
    width: 350px;
    padding: 40px 40px 20px 40px;
    text-align: center;
    margin-bottom: 10px;
}

#logo-insta {
    width: 175px;
    height: 51px;
    margin: 0 auto 12px auto;
    display: block;
}

#login-form {
    margin-top: 20px;
}

#login-form input {
    display: block;
    font-size: 12px;
    padding: 12px 9px;
    background-color: #fafafa;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    width: 268px;
    margin: 5px auto;
}

#login-form input[type="submit"] {
    background-color: #b2dffc;
    color: #fff;
    margin-top: 15px;
    border-radius: 5px;
    height: 30px;
    padding: 0;
    font-weight: bold;
    outline: none;
    border: none;
    cursor: pointer;
}

.separator {
    position: relative;
    text-align: center;
}

.line {
    border-top: 1px solid #dbdbdb;
    width: 268px;
    margin: 25px auto 35px auto;
}

.separator span {
    position: absolute;
    text-transform: uppercase;
    color: #8e8e8e;
    font-size: 13px;
    font-weight: bold;
    background-color: #fff;
    top: -6px;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 15px;
}

#facebook-login {
    margin-bottom: 25px;
}
#facebook-login a {
    text-decoration: none;
    color: #385185;
    display: flex;
    align-items: center;
    justify-content: center;
}
#facebook-login img {
    width: 16px;
    height: auto;
    margin-right: 8px;
}
#facebook-login span {
    font-weight: bold;
    font-size: 13px;
    margin-top: 1px;
}
#forgot-pass {
    margin-bottom: 20px;
    font-size: 12px;
}
#forgot-pass a {
    text-decoration: none;
    color: #373799;
}
#register-container {
    text-align: center;
    background-color: #fff;
    border: 1px solid #dbdbdb;
    width: 350px;
    margin-top: 10px;
    padding: 25px;
}
#register-container p {
    font-size: 14px;
    color: #262626;
}

#register-container a {
    font-weight: bold;
    color: #4a95f6;
    text-decoration: none;
}
#get-app-container {
    text-align: center;
    width: 350px;
}
#get-app-container p {
    margin: 20px 0;
    font-size: 13px;
}
#get-app-container a {
    text-decoration: none;
}
#get-app-container img {
    width: 136px;
    height: 40px;
}
footer {
    text-align: left;
    width: 100%;
    max-width: 935px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}
footer #footer-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    gap: 10px;
}
#footer-links li {
    margin-right: 10px;
}
#footer-links a,
#copyright {
    text-decoration: none;
    color: #8e8e8e;
    font-size: 12px;
}
#copyright {
    margin-top: 10px;
}
/*mobile*/
@media (max-width: 576px) {
    body {
        background-color: #fff;
    }
    .banner-container {
        display: none;
    }
    #main-container {
        margin-top: 0;
    }
    .form-container,
    #form-box,
    #register-container,
    #get-app-container {
        width: 100%;
        border: none;
    }
    footer {
        width: 100%;
    }
    #footer-links {
        flex-wrap: wrap;
        justify-content: center;
    }
}
/*tablet 768px*/
@media (max-width: 768px) {
    #main-container {
        max-width: 100%;
        padding: 0 10px;
    }
    .banner-container {
        flex: 0 0 380px;
    }
    .banner-container {
        max-width: 320px;
    }
}
